{% comment %}Надо рассказать про следующие Bootstrap-классы:{% endcomment %}
{% comment %}d-flex{% endcomment %}
{% comment %}flex-wrap{% endcomment %}
{% comment %}justify-content-between{% endcomment %}
{% comment %}align-items-center{% endcomment %}
{% comment %}py-3{% endcomment %}
{% comment %}my-4{% endcomment %}
{% comment %}border-top{% endcomment %}
{% comment %}col-md-4{% endcomment %}
{% comment %}text-body-secondary{% endcomment %}

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-body-secondary">Создано в 2024</p>
</footer>
